[user]
	name = ming1259
	email = 94585241@qq.com
[alias]
	br = branch
	ci = commit
	co = checkout
	st = status
	unstage = reset HEAD
	last = log -1
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[core]
	editor = vim
